.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 16px;
    column-gap: 16px;
    margin: 0 auto;
    margin-top: 92px;
    max-width: 90%;
}


.photo-grid__img {
 width: 100%;
}

@media screen and (max-width: 980px) {
    .photo-grid {
        grid-template-columns: auto auto;
        margin-top: 64px;
        max-width: 95%;
    }
}

@media screen and (max-width: 544px) {
    .photo-grid {
        grid-template-columns: auto;
        margin-top: 38px;
    }
}