.places {
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-family: Inter;
    max-width: 984px;
}

.places__grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
    row-gap: 48px;
    margin-bottom: 10%;
    list-style: none;
}

.places__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    text-align: left;
    max-width: 460px;
}

.places__image-container{
    margin: 0;
    max-width: 460px;
    max-height: 460px;
}
.places__image {
    margin: 0;
    width: 100%;
}

.places__author {
    margin: 0;
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    margin-top: 20%;
}

.places__name {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.05;
}

.places__paragraph-container {
    display: flex;
    flex-direction: column;
    row-gap: 2%;
}

.places__paragraph{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.places__link {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    max-width: 315px;
    padding: 13px 20px;
    background-color: #0278FE;
    border-radius: 4px;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    .places {
        max-width: 733px;
    }
}

@media screen and (max-width: 544px) {
    .places {
        max-width: 90%;
    }
    .places__grid {
        grid-template-columns: auto;
    }
}
