.places {
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-family: Inter;
}

.places__grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 5%;
    row-gap: 48px;
    margin-bottom: 10%;
    list-style: none;
    padding: 0 2%;
    max-width: 984px;
}

.places__title {
    margin: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    text-align: left;
    max-width: 460px;
}

.places__image {
    margin: 0;
    max-width: 100%;
}

.places__author {
    margin: 0;
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    margin-top: 20%;
}

.places__name {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.05;
}

.places__paragraph-container {
    row-gap: 2%;
    grid-row: 2 / 5;
    grid-column: 2;
}

.places__paragraph{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.places__link {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
    max-width: 315px;
    padding: 13px 20px;
    background-color: #0278FE;
    border-radius: 4px;
    text-decoration: none;
    opacity: 100%;
    transition: 0.2s;
}
.places__link:hover {
    opacity: 80%;
}

@media screen and (max-width: 544px) {
    .places__grid {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-left: 2%;
        margin-right: 2%;
   }
   .places__title {
    font-size: 32px;
   }

   .places__author-container {
    width: 100%;
    text-align: left;
   }
   .places__author {
    margin-top: 0;
   }
   .places__paragraph-container {
    text-align: left;
   }
   .places__link {
    text-align: center;
    font-size: 14px;
    max-width: 288px;   
   }
}