.places {
    margin: 0 auto;
    margin-top: 92px;
}

.places__grid {
    margin: 0 auto;
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 5%;
    margin-bottom: 10%;
}

.places__container-left {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 460px;
}

.places__container-right {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: right;
    max-width: 484px;
}

.places__title {
    margin: 0;
    color: white;
    font-size: 72px;
    font-family: Inter;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
}

.places__img {
    margin: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    max-height: 460px;
}

.places__link {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 600;
    max-width: 315px;
    padding: 13px 20px;
    background-color: #0278FE;
    border-radius: 4px;
    text-decoration: none;
}

.places__url-heading {
    margin: 0;
    color: #AAAAAA;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    margin-top: 20%;
}

.places__author {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    padding-top: 1%;
}

.places__paragraph-first {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 29.34px;
    padding-top: 15%;
}

.places__paragraph-second {
    margin: 0;
    color: white;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 29.34px;
    padding-top: 5%;
}